/* 单行文本超出隐藏(三个点) */
.text-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}



/* 字符间距 */
.ls-1{
  letter-spacing: 1px;
}



/* 文字位置 */
.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}



/* 颜色 */
.white{
  color: #ffffff;
}

.red {
  color: red;
}

.blue {
  color: #409EFF;
}

.grey {
  color: #b6b3b1;
}

.cyan {
  color: #2ec5cf;
}

.light-black {
  color: #909399;
}

.bg-white{
  background-color: #ffffff;
}

.bg-cyan {
  background-color: #5ed5dd;
}





/* flex布局 */
.flex-start-center{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-center-center{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* 外边距 */
.mt-5{
  margin-top: 5px;
}

.mt-10{
  margin-top: 10px;
}

.mt-20{
  margin-top: 20px;
}



.mr-10{
  margin-right: 10px;
} 

.mr-20{
  margin-right: 20px;
}

.mr-30{
  margin-right: 30px;
} 

.mr-50{
  margin-right: 50px;
} 



.mb-10{
  margin-bottom: 10px;
}



.ml-10{
  margin-left: 10px;
}

.ml-20{
  margin-left: 20px;
}



/* 内边距 */
.pl-5{
  padding-left: 5px;
}

.pt-10{
  padding-top: 10px;
}
  



